:root {
    --star-color: rgb(216, 216, 13);
    --background-color: #f0f0f0;
}

* { box-sizing: border-box; }

/* --------- NAV BAR ---------- */
.navbar-brand {
    display: flex;
    align-items: center;
    font-family: fantasy;
}

#search-form {
    border-radius: 1px;
    min-width: 400px;
}

#search-btn {
    border-radius: 1px;
    min-width: 70px;
    background-color: #33466f;
    color: white;
    border: none;
}

.user { max-width: 40px; }

#user-icon {
    font-size: 20px;
    cursor: pointer;
}


/* ------ CONTENT CONTAINER -------- */
.content-container {
    width: 90%;
    margin: 0 auto;
}

main {
    background-color: var(--background-color);
    padding-top: 40px;
    min-height: 100vh;
}

/* ------- FILTER -------- */
.dropdown .btn {
    border: 1px solid #5c5959;
    width: 220px;
    letter-spacing: 1px;
    text-align: end;
}

.dropdown .btn i {
    margin-left: 0;
}

.dropdown {
    text-align: right;
    margin-right: 80px;
}

#filter-icon { padding-right: 90px; }

/* ------ CARD ------- */
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-container a {
    text-decoration: none;
    color: black;
}

.card {
    width: 280px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    margin: 20px;
    height: 530px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* ----------- RATING ------------- */
.rating {
    margin-left: 15px;
    display: flex;
    justify-content: space-between;
    text-wrap: wrap;
}

.stars i { color: var(--star-color) }

.review-total { margin-right: 10px;}


/* ------------ REVIEW PAGE -------------- */
.review-container {
    width: 70%;
    margin: 0 auto;
}

.product-info, .review-content { background-color: white;}

.img-container img {
    width: 100%;
    height: 90%;
    min-width: 150px;
}

.img-container {
    display: flex;
    align-items: center;
}

.info-details { padding: 20px; }

.rate {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.rate .stars {
    height: 30px;
    border-right: 1px solid #5c5959;
    padding-right: 15px;
}

.review-number { padding-left: 15px; }

.rate span { border-bottom: 1px solid grey;}

.review-content { margin-top: 50px; }

.review-content h5 { 
    padding-top: 20px;
    padding-left: 10px;
}

.review-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review-heading .my-button {
    height: 80%;
    background-color: #0c68a5;
    color: white;
    border: none; 
    padding: 10px;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
}

.all-reviews {
    width: 80%;
    margin: 0 auto;
}

.review-item {
    padding: 10px 10px 20px 10px;
    margin-top: 10px;
}

.review-item:not(:last-child) { border-bottom: 1px solid grey;}
 
.avatar img {
    width: 40%;
    min-width: 40px;
    border-radius: 50px;
    margin-left: 40%;
}

/* ----- THE FORM FOR MODAL ------ */
.form-group { padding: 10px; }

.form-group .btn {
    color: white;
    border: none;
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.form-group #imageUpload {
    position: absolute;
    left: 50px;
}

.form-group label { margin-bottom: 7px;}

.form-group:nth-child(2) { align-items: center;}

/* ------- rating stars in the form -------- */
.star-rating {
    display: flex;
    font-size: 2rem;
    justify-content: left;
    flex-direction: row-reverse;
}

.star-rating input {
    display: none;
}

.star-rating label {
    color: #ddd;
    cursor: pointer;
    transition: color 0.2s ease-in-out;
}

.star-rating input:checked ~ label {
    color: gold;
}

.star-rating label:hover,
.star-rating label:hover ~ label {
    color: gold;
}

.modal-footer { margin-top: 20px; }

.alert {
    padding: 0;
    color: red;
    font-size: 15px;
    font-weight: 650;
}

.unchecked {
    color: rgb(222, 217, 217);    
}

.dropdown-toggle::after { display: none; }

#deleteButton {
    background-color: transparent;
    color: inherit;
    border: none;
    font-size: 25px;
    position: absolute;
    right: 0;
}

.fa-trash {
    margin-right: 20px;
    font-size: 20px;
    color: #890a0a;
}

.add-item-container .my-button {
    color: white;
    padding: 8px;
    width: 150px;
    background-color: #33466f;
    border: none;
    margin-left: 80px;
}

/* ------ MANUFACTURER -------- */
.manufacturer-heading {
    font-size: 25px;
    margin-bottom: 20px;
}

.list-group a {
    padding: 20px;
    margin-bottom: 10px;
}

.manufacturer {
    display: flex;
    justify-content: space-between;
}

#manufacturer-heading {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}